/****** CUSTOM CSS ******/

/****** VARIABLES ******/
:root {
    --transition: 0.4s ease-in;
    --color-white: #d4d4d4;
    --color-black: #2B2B2B;

    --color-gray1: rgb(31, 32, 41);
    --rgb-gray1: 31, 32, 41;
    --color-gray2: rgb(20, 21, 26);
    --rgb-gray2: 20, 21, 26;


    // --color-blue: #3700fe;
    --color-blue: rgb(60, 49, 221);
    --rgb-blue: 60, 49, 221;

    --shadow-lite: 1px 2px 3px rgba(0, 0, 0, 0.6);

}

/****** Base styles ******/
body {
    background: var(--color-gray2);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: var(--color-white);
}

// main buttons
.button {
    background: none;
    border: 2px solid var(--color-blue);
    color: var(--color-white);
    padding: 6px 12px;
    border-radius: 15px;
    text-transform: uppercase;
    text-shadow: var(--shadow-lite);

    box-shadow: var(--shadow-lite), inset var(--shadow-lite);
    display: inline-block;
    white-space: nowrap;
    font-weight: 500;
    transition: 0.2s;

    &:hover {
        color: var(--color-gray2);
        background: var(--color-blue);

        text-shadow: unset;
        box-shadow: unset;
        transform: translateY(2px);
    }
}

// go to top btn
#scrollUp {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: fixed;
    padding: 0;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    line-height: 1;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 11px 11px -10px var(--color-gray2);

    backdrop-filter: blur(8px);
    color: var(--color-gray1);
    cursor: pointer;
    transition: var(--transition);

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        transform: scale(1.2);
    }

    svg {
        width: 40px;
    }
}

// spravne zarovnani pro sekce
[id] {
    scroll-margin-top: 70px;
}

input,
textarea {
    background: rgba(255, 255, 255, 0.05);
    padding: 10px 16px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    color: var(--color-white);
    font-size: 1em;
    box-shadow: var(--shadow-lite);
}

// reset li decoration
li {
    list-style-type: none;
}

/****** Fonts ******/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');


a {
    color: var(--color-white);
}

// logo text
h1 {
    font-size: 1.2rem;
    font-weight: bolder;
}

// welcome text
h2 {
    font-size: 2.3rem;
    font-weight: 800;
    letter-spacing: 0.05rem;
    line-height: 1.2;
}

.leading {
    font-size: 1.3rem;
}

// sekce header
h3 {
    font-size: 2.1rem;
    font-weight: bolder;
}

// about mini sekce
h4 {
    font-size: 1.4rem;
    font-weight: bold;
}

h5 {
    font-size: 1rem;
    font-weight: bold;
}

/****** Mobile styles ******/
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/****** NAVBAR ******/
#header {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: var(--transition);
    backdrop-filter: blur(8px);


    &.active {
        background: var(--color-gray1);
        backdrop-filter: none;
    }

    // navbar
    nav {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;


        h1 {
            white-space: nowrap;
            font-weight: bold;
        }

        ul {
            background: linear-gradient(to bottom, var(--color-gray1), var(--color-gray2));
            flex-direction: column;
            position: fixed;
            left: 100%;
            top: 68px;
            z-index: 999;
            width: 100%;
            height: 100vh;
            text-align: center;
            transition: .8s;
            box-shadow: inset 0px 11px 11px -10px var(--color-gray2);


            .nav-item {
                margin: 2rem 0;

                .nav-link {
                    padding: 1.5rem;
                    font-size: 1.4rem;
                    transition: .2s;

                    &:hover {
                        color: var(--color-blue);
                    }
                }

                .resume {
                    color: rgba(255, 255, 255, 0.6);
                    text-shadow: 1px 1px 2px black;

                }
            }
        }

        ul.active {
            left: 0;
            animation: fadeEffect 0.8s;

        }

        .hamburger {
            display: block;
            cursor: pointer;

            .bar {
                background-color: var(--color-white);
                display: block;
                width: 30px;
                height: 4px;
                margin: 6px auto;
                border-radius: 1px;
                transition: var(--transition);
            }
        }

        .hamburger.active {
            .bar:nth-child(2) {
                opacity: 0;
            }

            .bar:nth-child(1) {
                transform: translateY(10px) rotate(45deg);
            }

            .bar:nth-child(3) {
                transform: translateY(-10px) rotate(-45deg);
            }
        }

    }

}

/****** WELCOME ******/
#welcome {
    padding: 6rem 1rem;
    background: var(--color-gray1);
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;

    .welcome-text {
        grid-column: span 12;

        p,
        h2 {
            grid-column: span 12;
            text-align: center;

            img {
                height: 1.8rem;
                position: relative;
                top: 15%;
                display: inline-block;
            }
        }
    }


}

.divider-top {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 20px;
    }

    .shape-fill {
        fill: var(--color-gray1);
    }

}

.light-shadow {
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
    z-index: -1;
}

#portfolio {
    padding: 1.5rem 0;

    h3 {
        text-align: center;
    }

    p {
        margin: 1rem 0;
        text-align: center;
    }

    .projects {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        place-content: center;


        .card {
            position: relative;
            display: block;
            width: 90%;
            min-width: 300px;
            max-width: 500px;
            aspect-ratio: 4/3;
            margin: 8px;
            border-radius: 1rem;
            box-shadow: 0px 11px 11px -6px rgba(0, 0, 0, 0.3);
            cursor: pointer;

            transform-style: preserve-3d;
            transform-origin: center right;
            transition: transform 1.2s;

            .card__face {
                position: absolute;
                width: 100%;
                height: 100%;
                color: white;
                text-align: center;
                overflow: hidden;
                border-radius: 1rem;
                backface-visibility: hidden;
            }

            .card__face--front {
                background: var(--color-gray1);
            }

            .card__face--back {
                background: var(--color-gray1);
                background: linear-gradient(to bottom, var(--color-gray1), var(--color-gray2));

                transform: rotateY(180deg);
            }
        }

        .card.is-flipped {
            transform: translateX(-100%) rotateY(-180deg);
        }

        .more-hide {
            display: none;
        }

        .showMore {

            .showMore__text {
                text-align: center;
            }
        }
    }

    #moreCard-btn {
        display: none;
    }
}


// ABOUT // hotovo
#about {
    background-color: var(--color-gray1);
    padding: 1.5rem;
    box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.3),
        0px -1px 8px rgba(0, 0, 0, 0.3);


    h3 {
        text-align: center;
    }

    p {
        margin: 1rem 0;
    }

    .about-img,
    .about-text,
    .about-hobbies,
    .about-facts {
        grid-column: span 12;
        text-align: center;

    }

    .about-img {
        grid-row: 2;

        img {
            width: 60%;
            border-radius: 50%;
            margin: 0 auto 1rem;
        }
    }

    .about-facts {
        .grid {
            padding: 1rem 0;

            span:nth-child(1) {
                grid-column: 1/13;
            }

            span:nth-child(2) {
                grid-column: 1/13;
            }

            span:nth-child(3) {
                grid-column: 1/13;
            }

            span:nth-child(4) {
                grid-column: 1/13;
            }
        }
    }
}

// SKILLS
#skills {
    padding: 1.5rem;

    h3 {
        text-align: center;
    }

    p {
        margin: 1rem 0;
        text-align: center;
    }

    // slider
    .switch {
        margin: 0 auto;
        position: relative;
        display: inline-block;
        width: 280px;
        height: 50px;
        margin-bottom: 1.5rem;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(130px);
            -ms-transform: translateX(130px);
            transform: translateX(130px);
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--color-gray1);
            -webkit-transition: var(--transition);
            transition: var(--transition);
            border-radius: 25px;
            box-shadow: 0px 11px 11px -6px rgba(0, 0, 0, 0.3);

            display: flex;
            align-items: center;
            justify-content: space-around;

            &:before {
                position: absolute;
                content: "";
                height: 40px;
                width: 140px;
                left: 5px;
                bottom: 5px;
                border-radius: 25px;
                box-shadow: 0px 11px 11px -6px rgba(0, 0, 0, 0.3),
                    inset -10px -25px 25px -6px rgba(0, 0, 0, 0.3);


                background-color: var(--color-blue);
                -webkit-transition: .4s;
                transition: .4s;
            }

            .slider-text {
                color: var(--color-white);
                width: 120px;
                text-align: center;
                z-index: 1;
                font-size: 1rem;
                font-weight: 600;
            }
        }
    }

    .tabcontent {
        width: 100%;
        flex-wrap: wrap;
        gap: 16px;
        place-content: center;
        animation: fadeEffect 1s;

        .item {
            width: 120px;
            height: 120px;
            background-color: var(--color-gray1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            padding: 16px;
            border-radius: 16px;
            box-shadow: 0px 11px 11px -6px rgba(0, 0, 0, 0.3);


            img {
                width: 50px;
            }

            h5 {
                margin: 0;
                text-align: center;
                margin-top: 8px;
            }
        }

    }
}

.divider-bottom {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 21px;
    }

    .shape-fill {
        fill: var(--color-gray1);
    }
}

.light-shadow2 {
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.3));
    z-index: -1;
}

#contact {
    background-color: var(--color-gray1);
    padding: 1.5rem;
    padding-bottom: 2rem;

    h3,
    p {
        margin: 0.8rem 0;
        text-align: center;
    }

    form {
        width: 100%;
        gap: 10px;

        input {
            grid-column: span 6;
        }

        textarea {
            grid-column: span 12;
        }

        button {
            grid-column: 4/10;
            margin: 1.25rem 0;
        }

        .personal {
            grid-column: span 9;

            a {
                transition: .2s;

                &:hover {
                    color: rgba(var(--rgb-blue), 0.7);
                }
            }

        }

        .social {
            grid-column: span 3;
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            align-items: center;
            padding: 0 20px;


            i {
                font-size: 2.3rem;
                color: var(--color-white);
                transition: .2s;

                &:hover {
                    color: rgba(var(--rgb-blue), 0.7);
                }
            }

        }
    }

}

footer {
    background-color: var(--color-gray2);
    text-align: center;
    font-size: 0.8rem;
    padding: 0.6rem 0;
    box-shadow: inset 0px 11px 11px -6px rgba(0, 0, 0, 0.3);

    .love {
        height: 1.1rem;
        color: rgb(206, 0, 0);
        position: relative;
        top: .25rem;
    }
}


/****** Mobile landscape (larger) ******/
@media screen and (min-width: 480px) {

    #contact {
        form {
            width: 90%;
            max-width: 500px;
            margin: 0 auto;
        }

        .grid {
            gap: 1rem;
        }
    }

    #welcome,
    #about,
    #skills,
    #contact {
        padding: 50px 1rem;
    }
}

/****** Tablets portrait (larger) ******/
@media screen and (min-width: 768px) {

    h2 {
        font-size: 3rem;
    }

    nav {
        .hamburger {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            position: unset;
            width: auto;
            height: unset;
            align-items: center;
            background: unset;
            box-shadow: unset;


            .nav-item {
                margin: 0 1rem;

                .nav-link {
                    padding: 0rem;
                    font-size: 1em;
                }
            }
        }
    }

    #portfolio {
        .projects {
            flex-direction: row;

            .card {
                max-width: 360px;
            }
        }
    }

    #about {

        .grid {
            padding: 1rem;
        }

        .about-text {
            text-align: justify;

        }

        .about-img {
            grid-column: 7/13;
            grid-row: 2/4;

            img {
                width: 80%;
                margin: 2rem auto;
            }
        }

        .about-hobbies {
            grid-column: span 6;
            grid-row: 2;
            text-align: justify;
        }

        .about-facts {
            grid-column: span 6;
            grid-row: 3;
            text-align: justify;
        }
    }

    #contact {
        form {
            width: 80%;
            max-width: 800px;
            margin: 0 auto;
        }
    }
}

/****** Tablets landscape (larger) ******/
@media screen and (min-width: 992px) {
    body {
        font-size: 18px;
    }

    h2 {
        font-size: 4.5rem;
    }

    .grid,
    .flex-col {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    #welcome,
    #about,
    #skills,
    #contact {
        padding: 80px 1.5rem;
    }

    #portfolio {
        padding: 80px 0;
    }

    #about {
        .about-img {
            img {
                width: 90%;
                margin: 2rem auto;
            }
        }
    }
}

/****** Laptops (Desktops) ******/
@media screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }

    h2 {
        font-size: 4.5rem;
    }

    #portfolio {
        .projects {
            .card {
                max-width: 380px;
            }
        }
    }

    #about {
        .about-img {
            img {
                width: 70%;
                margin: 1rem auto;
            }
        }
    }

}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}